# Environments
.env

# VSCode
.vscode

# PyCharm
.idea

# Node
node_modules
.DS_Store
package-lock.json

# Misc
creds.json
venv

output_0.svg
output_1.svg
output_2.svg
output_3.svg
output_4.svg
output_5.svg
output_6.svg