body fieldset {
    box-shadow: 0 8px 10px #29a329;
}

html, body {
    width: 100%;
    height: 100%;
    background: orange;
    /*background-image: linear-gradient(to bottom right, #51c3ff 0%, #21a9d0 100%);*/
    font-family: "Lato", sans-serif;
}

.intro {
    height: 100vh;
    font-family: "Lato", sans-serif;
}

#desc {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#questionsContainer {
    height: 100vh;
    position: relative;
}

#questionsContainer > h1, #questionsContainer > h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#questionsContainer > h1 {
    top: 24px;
    color: #fd0505;
    font-size: 12px;
}

#questionsContainer > h2 {
    top: 44px;
    color: #f30000;
    font-size: 10px;
    opacity: 0.7;
}

ul.items {
    position: absolute;
    width: 30px;
    height: auto;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}
ul.items li {
    width: 8px;
    height: 8px;
    margin: 10px 0;
    background: white;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}
ul.items li.active {
    opacity: 1;
}

form {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form fieldset {
    position: absolute;
    width: 300px;
    height: 60px;
    background: white;
    border-radius: 3px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.4s ease-in-out;
}
/*form fieldset input, form fieldset p {*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    color: #333333;*/
/*    font-size: 16px;*/
/*    letter-spacing: 1px;*/
/*}*/
form fieldset p {
    margin-top: 22px;
    text-align: center;
}
form fieldset input {
    height: 40px;
    border: none;
    outline: none;
}
form fieldset .icon {
    width: 30px;
    height: 30px;
    top: 15px;
    transition: all 0.4s ease;
}
form fieldset .icon i {
    position: absolute;
    display: block;
}
form fieldset .icon i::before, form fieldset .icon i::after {
    position: absolute;
    content: "";
}
form fieldset .icon.left {
    align-items: flex-start;
}
form fieldset .icon.right {
    /*align-items: flex-end;*/
    cursor: pointer;
}
form fieldset .icon.button:hover {
    background: #f2f2f2;
    border-radius: 3px;
    transition: all 0.4s ease;
}
form fieldset.enable {
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-out 0.2s;
    transform: scale(1);
    animation: enable 0.5s ease-out 0.2s;
}
form fieldset.disable {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translateY(120px) scale(0.9);
}

body.error fieldset {
    transform-origin: 50% 100%;
    animation: error 0.3s ease-out;
}

@keyframes enable {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes error {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
}
/**
 * * Icons in CSS, long as f****
 * */
.icon .arrow {
    width: 2px;
    height: 17px;
    right: 19px;
    bottom: 28px;
    background: #333333;
}

.icon .arrow::before {
    width: 6px;
    height: 6px;
    bottom: -1px;
    left: -3px;
    /*border-color: #333333;*/
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

.icon .user {
    width: 20px;
    height: 10px;
    bottom: 25px;
    left: 15px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 6px 6px 3px 3px;
}
.icon .user::before {
    width: 10px;
    height: 10px;
    top: -9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 50%;
}

.icon .letter {
    width: 20px;
    height: 12px;
    top: 29px;
    left: 16px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
}
.icon .letter::before, .icon .letter::after {
    width: 11px;
    height: 2px;
    top: 4px;
    background: #333333;
}
.icon .letter::before {
    left: 0;
    transform: rotate(30deg);
}
.icon .letter::after {
    right: 0;
    transform: rotate(-30deg);
}

.icon .lock {
    width: 20px;
    height: 16px;
    top: 9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
}
.icon .lock::before {
    width: 8px;
    height: 8px;
    top: -4px;
    left: 4px;
    border: 2px solid transparent;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.icon .lock::after {
    width: 6px;
    height: 7px;
    top: 4px;
    left: 7px;
    box-shadow: 0 0 0 2px #333333 inset;
}

.icon .heart {
    width: 10px;
    height: 10px;
    top: 11px;
    left: 7px;
    background: #ff5233;
    transform: rotate(45deg);
}
.icon .heart::before, .icon .heart::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5233;
}
.icon .heart::before {
    left: -6px;
}
.icon .heart::after {
    top: -6px;
}


/* scroll */
html {
    scroll-behavior: smooth;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition:  all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/* FADE IN */

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cont {
    position: relative;
}
.formInput {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

/* radio text button */
label {
    display: inline-flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
}

input[type="radio"] {
    border: 3px red solid;
    display: none;
}

input[type="radio"]:checked + label {
    color: orangered;
    background: yellow;
}
/* end of radio text button */
