version: 2.1

orbs:
  node: circleci/node@1.1.6
  heroku: circleci/heroku@0.0.10

jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
#            - run: npm test
  deploy:
    executor:
      name: heroku/default
    steps:
      - checkout
      - heroku/deploy-via-git
workflows:
  main:
    jobs:
      - build-and-test
      - deploy